name: Update Latest Blog Posts

on:
  schedule:
    - cron: '0 1/2 * * *'
  workflow_dispatch:

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
        
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          comment_tag_name: "BLOG-POST-LIST"
          feed_list: "https://dev.to/feed/n3wt0n"
